<div class="rq-page-content">
<div class="">
    <div class="signle-post-feature-img">
    </div>
    <div class="container">
    <div class="rq-content-block">
        <div class="rq-title-container text-center">
        <h2 class="rq-title">House Maintenance</h2>
        </div>
        <div class="post-content wow fadeIn" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">

        <h4>We provide a vast offering of property (resort, cottage, home) maintenance services in Skopelos including cottage rentals. Leave your home in good hands and don’t worry of upkeep and maintenance.</h4>
        
        <p>On our site you can find some of the most remarkable hotels with great benefits. All of them offer unique advantages to the visitor as well as areas of particular natural beauty and close to the sea. The short walking distance from the Town of Skopelos is a key feature in many cases, facilitating the movements during your holidays. You can book on-line directly or send question through the request form.</p>
        
        
        <p>→ Periodic house cleaning</p>
        <p>→ Perform detailed property checks</p>
        <p>→ Interior junk/debris removal</p>
        <p>→ Check and evaluate septic, water, furnace and air conditioning</p>
        <p>→ Check for storm damage and schedule repairs</p>
        <p>→ Research material and sub-contractors when required</p>
        <p>→ Garden cleaning and care</p>
        <p>→ Spring opening, seasonal preparation</p>

        </div>

    </div> <!-- /.content-block -->
</div>
</div> <!-- /.page-content -->