<div class="rq-page-content">
<div class="">
    <div class="signle-post-feature-img">
    </div>
    <div class="container">
    <div class="rq-content-block">
        <div class="rq-title-container text-center">
        <h2 class="rq-title">Sales</h2>
        </div>
        <div class="post-content wow fadeIn" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">

        <h4>Here you can find the property that best suits in your particular needs. Discover that piece of Skopelos land you love and make your dream come true. We provide you the necessary guidance and information about prime locations with affordable rates. We are also available to our customers beyond the limits of typical advertisement and help wherever we can in all areas, where foreigners might have difficulties with Greek administrative regulations.</h4>

        <p> Apart from the listings on the site, we recommend opportunities and solutions to each customer according to his wish.  In case you cannot find what you are looking for, do not hesitate to contact us in order to find out together what suits better in your needs.</p>
         
        </div>

    </div> <!-- /.content-block -->
</div>
</div> <!-- /.page-content -->