<!--Footer-->
<footer class="rq-footer no-border">
    <div class="rq-main-footer">
    <div class="container-fluid">
        <!--<button class="toggle-widget">Footer widget</button>-->
        <div class="footer-widget">
        <div class="widget-list">
            <img class="footer-logo" src="./assets/dist/img/hotel/doctor-logo-light.png" alt="">
        </div>
        <div class="widget-list">
            <p class="widget-text">© Scholar lawyer</p>
            <p class="widget-text">ALL RIGHTS RESERVED 2016 </p>
        </div>
        <div class="widget-list">
            <ul class="address">
            <li><a href="#">Site map</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Affiliate</a></li>
            </ul>
        </div>
        <div class="widget-list">
            <ul class="address">
            <li><a href="#">Our Location</a></li>
            <li><a href="#">Career</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="widget-list">
            <ul class="list-unstyled social-list">
            <li class="dropdown footer-dropdown language">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ENG <span class="ion-chevron-down"></span></a>
                <ul class="dropdown-menu">
                <li><a href="#"><img src="./assets/dist/img/marketplace/fr.png"><span>FRENCH</span> </a></li>
                <li><a href="#"><img src="./assets/dist/img/marketplace/ge.png"><span>GERMAN</span></a></li>
                <li><a href="#"><img src="./assets/dist/img/marketplace/da.png"><span>DANISH</span></a></li>
                <li><a href="#"><img src="./assets/dist/img/marketplace/it.png"><span>ITALIAN</span></a></li>
                </ul>
            </li>
            <li class="dropdown footer-dropdown currency">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USD <span class="ion-chevron-down"></span></a>
                <ul class="dropdown-menu">
                <li><a href="#"><span>USD</span></a></li>
                <li><a href="#"><span>EURO</span></a></li>
                <li><a href="#"><span>REAL</span></a></li>
                </ul>
            </li>
            <li><a href="#"><i class="social_facebook_square"></i></a></li>
            <li><a href="#"><i class="social_twitter_square"></i></a></li>
            <li><a href="#"><i class="social_rss_square"></i></a></li>
            </ul>
        </div>
        </div>
    </div>
    </div> <!-- /.rq-main-footer -->
</footer>